<a href="https://colab.research.google.com/github/DannaCarrillo05/ApuntesIA/blob/main/Apuntes3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


    dropna(axis=0): Elimina filas con valores nulos.
    dropna(axis=1): Elimina columnas con valores nulos.

La primera opcion que debe tener un cientifico de datos ante un valor nulo (si el porcentaje de nulos es menor al 50%), antes de borrar el registro, es intentar recuperar el dato

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Crear un dataset simulado
data = {
    "Edad": [23, np.nan, 21, np.nan, 25, 19, 18, 20, np.nan, 22],
    "Género": ["F", "M", np.nan, "M", "F", "F", "M", np.nan, "F", "M"],
    "Calificación": [85, np.nan, 78, 88, np.nan, 92, 75, 80, np.nan, 77],
}
df = pd.DataFrame(data)


# Metodo para ver la sumatoria de nulos en el dataframe
df.isnull().sum()

Edad            3
Género          2
Calificación    3
dtype: int64

In [18]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/adiacla/bigdata/refs/heads/master/venta_vivienda.csv",sep=";")
df

,ID,Ciudad,Barrio,Categoria_edificio,Impuesto_hoy,Bloque,Lote,Clase_construcion,Direccion,Num_apto,...,Unidades_comercial,Unidades_totales,Areapies_terreno,Area_construida_pie,Precio_pie_cuadrado,Fecha_construccion,Clase_impuesto_venta,Clase_edificio_venta,Precio_venta,Fecha_venta
0,4.0,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392.0,6.0,C2,153 AVENUE B,SIN DATO,...,0.0,5.0,1633.0,6440.0,"1028,73",1900.0,2.0,C2,6625000.0,19/07/2017 0:00
1,7.0,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402.0,21.0,C4,154 EAST 7TH STREET,SIN DATO,...,0.0,10.0,2272.0,6794.0,"579,37",1913.0,2.0,C4,3936272.0,23/09/2016 0:00
2,8.0,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404.0,55.0,C2,301 EAST 10TH STREET,SIN DATO,...,0.0,6.0,2369.0,4615.0,"1733,48",1900.0,2.0,C2,8000000.0,17/11/2016 0:00
3,10.0,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406.0,32.0,C4,210 AVENUE B,SIN DATO,...,0.0,8.0,1750.0,4226.0,"755,52",1920.0,2.0,C4,3192840.0,23/09/2016 0:00
4,13.0,Manhattan,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387.0,153.0,D9,629 EAST 5TH STREET,SIN DATO,...,0.0,24.0,4489.0,18523.0,"876,32",1920.0,2.0,D9,16232000.0,7/11/2016 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28221,8409.0,Staten Island,WOODROW,02 TWO FAMILY DWELLINGS,1,7349.0,34.0,B9,37 QUAIL LANE,SIN DATO,...,0.0,2.0,2400.0,2575.0,"174,76",1998.0,1.0,B9,450000.0,28/11/2016 0:00
28222,8410.0,Staten Island,WOODROW,02 TWO FAMILY DWELLINGS,1,7349.0,78.0,B9,32 PHEASANT LANE,SIN DATO,...,0.0,2.0,2498.0,2377.0,"231,38",1998.0,1.0,B9,550000.0,21/04/2017 0:00
28223,8411.0,Staten Island,WOODROW,02 TWO FAMILY DWELLINGS,1,7351.0,60.0,B2,49 PITNEY AVENUE,SIN DATO,...,0.0,2.0,4000.0,1496.0,"307,49",1925.0,1.0,B2,460000.0,5/07/2017 0:00
28224,8412.0,Staten Island,WOODROW,22 STORE BUILDINGS,4,7100.0,28.0,K6,2730 ARTHUR KILL ROAD,SIN DATO,...,7.0,7.0,208033.0,64117.0,"182,37",2001.0,4.0,K6,11693337.0,21/12/2016 0:00
28225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.isnull().sum()

ID                        1
Ciudad                    1
Barrio                    1
Categoria_edificio        1
Impuesto_hoy              1
Bloque                    1
Lote                      1
Clase_construcion         1
Direccion                 1
Num_apto                  1
Codigo_postal             1
Latitud                   1
Longitud                  1
Unidades_residenciales    1
Unidades_comercial        1
Unidades_totales          1
Areapies_terreno          1
Area_construida_pie       1
Precio_pie_cuadrado       1
Fecha_construccion        1
Clase_impuesto_venta      1
Clase_edificio_venta      1
Precio_venta              1
Fecha_venta               1
dtype: int64

In [9]:
df.dropna(axis=0,inplace=True)
df

,ID,Ciudad,Barrio,Categoria_edificio,Impuesto_hoy,Bloque,Lote,Clase_construcion,Direccion,Num_apto,...,Unidades_comercial,Unidades_totales,Areapies_terreno,Area_construida_pie,Precio_pie_cuadrado,Fecha_construccion,Clase_impuesto_venta,Clase_edificio_venta,Precio_venta,Fecha_venta
0,4.0,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392.0,6.0,C2,153 AVENUE B,SIN DATO,...,0.0,5.0,1633.0,6440.0,"1028,73",1900.0,2.0,C2,6625000.0,19/07/2017 0:00
1,7.0,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402.0,21.0,C4,154 EAST 7TH STREET,SIN DATO,...,0.0,10.0,2272.0,6794.0,"579,37",1913.0,2.0,C4,3936272.0,23/09/2016 0:00
2,8.0,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404.0,55.0,C2,301 EAST 10TH STREET,SIN DATO,...,0.0,6.0,2369.0,4615.0,"1733,48",1900.0,2.0,C2,8000000.0,17/11/2016 0:00
3,10.0,Manhattan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406.0,32.0,C4,210 AVENUE B,SIN DATO,...,0.0,8.0,1750.0,4226.0,"755,52",1920.0,2.0,C4,3192840.0,23/09/2016 0:00
4,13.0,Manhattan,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387.0,153.0,D9,629 EAST 5TH STREET,SIN DATO,...,0.0,24.0,4489.0,18523.0,"876,32",1920.0,2.0,D9,16232000.0,7/11/2016 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28220,8407.0,Staten Island,WOODROW,02 TWO FAMILY DWELLINGS,1,7317.0,126.0,B2,112 ROBIN COURT,SIN DATO,...,0.0,2.0,11088.0,2160.0,300,1994.0,1.0,B2,648000.0,7/12/2016 0:00
28221,8409.0,Staten Island,WOODROW,02 TWO FAMILY DWELLINGS,1,7349.0,34.0,B9,37 QUAIL LANE,SIN DATO,...,0.0,2.0,2400.0,2575.0,"174,76",1998.0,1.0,B9,450000.0,28/11/2016 0:00
28222,8410.0,Staten Island,WOODROW,02 TWO FAMILY DWELLINGS,1,7349.0,78.0,B9,32 PHEASANT LANE,SIN DATO,...,0.0,2.0,2498.0,2377.0,"231,38",1998.0,1.0,B9,550000.0,21/04/2017 0:00
28223,8411.0,Staten Island,WOODROW,02 TWO FAMILY DWELLINGS,1,7351.0,60.0,B2,49 PITNEY AVENUE,SIN DATO,...,0.0,2.0,4000.0,1496.0,"307,49",1925.0,1.0,B2,460000.0,5/07/2017 0:00
28224,8412.0,Staten Island,WOODROW,22 STORE BUILDINGS,4,7100.0,28.0,K6,2730 ARTHUR KILL ROAD,SIN DATO,...,7.0,7.0,208033.0,64117.0,"182,37",2001.0,4.0,K6,11693337.0,21/12/2016 0:00

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28225 entries, 0 to 28224
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      28225 non-null  float64
 1   Ciudad                  28225 non-null  object
 2   Barrio                  28225 non-null  object
 3   Categoria_edificio      28225 non-null  object
 4   Impuesto_hoy            28225 non-null  object
 5   Bloque                  28225 non-null  float64
 6   Lote                    28225 non-null  float64
 7   Clase_construcion       28225 non-null  object
 8   Direccion               28225 non-null  object
 9   Num_apto                28225 non-null  object
 10  Codigo_postal           28225 non-null  float64
 11  Latitud                 28225 non-null  object
 12  Longitud                28225 non-null  object
 13  Unidades_residenciales  28225 non-null  float64
 14  Unidades_comercial      28225 non-null  float64
 15  Unidades_totales        28225 non-null  float64
 16  Areapies_terreno        28225 non-null  float64
 17  Area_construida_pie     28225 non-null  float64
 18  Precio_pie_cuadrado     28225 non-null  object
 19  Fecha_construccion      28225 non-null  float64
 20  Clase_impuesto_venta    28225 non-null  float64
 21  Clase_edificio_venta    28225 non-null  object
 22  Precio_venta            28225 non-null  float64
 23  Fecha_venta             28225 non-null  object
dtypes: float64(12), object(12)
memory usage: 5.4+ MB

hay un problema en el tipo de dato de latitud, longitud y precio pie cuadrado

In [11]:
df[["Latitud","Longitud","Precio_pie_cuadrado"]]

           Latitud      Longitud Precio_pie_cuadrado
0      40,72656934  -73,97985715             1028,73
1      40,72537031  -73,98247679              579,37
2      40,72783223  -73,98162828             1733,48
3      40,72860578  -73,97889681              755,52
4      40,72354477  -73,98072031              876,32
...            ...           ...                 ...
28220  40,53549613  -74,22138421                 300
28221  40,53251031  -74,22110091              174,76
28222  40,53263145  -74,22233523              231,38
28223  40,53035109  -74,21917281              307,49
28224  40,54835617  -74,22251709              182,37

[28225 rows x 3 columns]

In [12]:
# prompt: cambiar los features ["Latitud","Longitud","Precio_pie_cuadrado"] del df, reemplazar coma por punto

import pandas as pd
# ... (previous code)

# Replace commas with periods in specified columns
for col in ["Latitud", "Longitud", "Precio_pie_cuadrado"]:
    df[col] = df[col].astype(str).str.replace(',', '.', regex=False)

# Convert columns to numeric, coercing errors to NaN
for col in ["Latitud", "Longitud", "Precio_pie_cuadrado"]:
    df[col] = pd.to_numeric(df[col], errors='coerce')

#Now you can handle NaN values
df.dropna(subset=["Latitud", "Longitud", "Precio_pie_cuadrado"], inplace = True)
df[["Latitud","Longitud","Precio_pie_cuadrado"]]

         Latitud   Longitud  Precio_pie_cuadrado
0      40.726569 -73.979857              1028.73
1      40.725370 -73.982477               579.37
2      40.727832 -73.981628              1733.48
3      40.728606 -73.978897               755.52
4      40.723545 -73.980720               876.32
...          ...        ...                  ...
28220  40.535496 -74.221384               300.00
28221  40.532510 -74.221101               174.76
28222  40.532631 -74.222335               231.38
28223  40.530351 -74.219173               307.49
28224  40.548356 -74.222517               182.37

[28225 rows x 3 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28225 entries, 0 to 28224
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      28225 non-null  float64
 1   Ciudad                  28225 non-null  object
 2   Barrio                  28225 non-null  object
 3   Categoria_edificio      28225 non-null  object
 4   Impuesto_hoy            28225 non-null  object
 5   Bloque                  28225 non-null  float64
 6   Lote                    28225 non-null  float64
 7   Clase_construcion       28225 non-null  object
 8   Direccion               28225 non-null  object
 9   Num_apto                28225 non-null  object
 10  Codigo_postal           28225 non-null  float64
 11  Latitud                 28225 non-null  float64
 12  Longitud                28225 non-null  float64
 13  Unidades_residenciales  28225 non-null  float64
 14  Unidades_comercial      28225 non-null  float64
 15  Unidades_totales        28225 non-null  float64
 16  Areapies_terreno        28225 non-null  float64
 17  Area_construida_pie     28225 non-null  float64
 18  Precio_pie_cuadrado     28225 non-null  float64
 19  Fecha_construccion      28225 non-null  float64
 20  Clase_impuesto_venta    28225 non-null  float64
 21  Clase_edificio_venta    28225 non-null  object
 22  Precio_venta            28225 non-null  float64
 23  Fecha_venta             28225 non-null  object
dtypes: float64(15), object(9)
memory usage: 5.4+ MB

Si necesito llenar un dato que esta vacio en una tabla uso fill foward before(usar el dato siguiente) o fill backward (usar el dato anterior). Si el dato es de top texto se llama un *fill*.

In [19]:
df.columns

Index(['ID', 'Ciudad', 'Barrio', 'Categoria_edificio', 'Impuesto_hoy',
       'Bloque', 'Lote', 'Clase_construcion', 'Direccion', 'Num_apto',
       'Codigo_postal', 'Latitud', 'Longitud', 'Unidades_residenciales',
       'Unidades_comercial', 'Unidades_totales', 'Areapies_terreno',
       'Area_construida_pie', 'Precio_pie_cuadrado', 'Fecha_construccion',
       'Clase_impuesto_venta', 'Clase_edificio_venta', 'Precio_venta',
       'Fecha_venta'],
      dtype='object')

borrar id, impuesto hoy, unidades comerciales y unidades totales

In [20]:
#copia antes de borrar
dfc = df.copy()

In [15]:
#cantidad de columnas
len(df.columns)
#shape muestra filas y columnas o puedo usar shape[1] columnas o shape[0] filas

24

In [16]:
#lista columnas para borrar
borrar = ["ID","Impuesto_hoy","Unidades_comercial","Unidades_totales"]
#borrar las columnas
df.drop(columns=borrar,inplace=True)
df.columns

Index(['Ciudad', 'Barrio', 'Categoria_edificio', 'Bloque', 'Lote',
       'Clase_construcion', 'Direccion', 'Num_apto', 'Codigo_postal',
       'Latitud', 'Longitud', 'Unidades_residenciales', 'Areapies_terreno',
       'Area_construida_pie', 'Precio_pie_cuadrado', 'Fecha_construccion',
       'Clase_impuesto_venta', 'Clase_edificio_venta', 'Precio_venta',
       'Fecha_venta'],
      dtype='object')